body{
	margin: 0;
	border: 0;
	font-family: 'Candara';
  }
  h1,h2,h3,h4{
	font-family: 'Century Gothic';
  }
  /*MENU*/
nav{
	width: 100%;
	height: 75px;
	background-color: #006394;
	display: flex;
	
	} 
	.logo{
	  height: 60px;
	  width: 50px;
	 margin-left: 20px;
	 margin-top: 7px;
	}
	.cb{
	  color: #fff;
	  margin-top: 22px;
	  margin-left: 15px;
	  font-size: 24px;
	}
	.menu{
	  list-style: none;
	  padding-left: 120px;
	  font-size: 20px;
	  position: relative;
	  bottom: 5px;
	}
	.menu li{
	  display: inline;
	}
	  .menu li a{ 
		display: inline-block;
		text-decoration: none;
		display: inline;
	  }
	  li{
		margin-right: 35px;
	  }
	  .redes{
		width: 30px;
		height: 30px;
		position: relative;
		top: 8px;
    	left: 250px;
	  }
	  .menu li a:hover{
		color: #1e90ff;
	}
	.redes a img:hover{
	  background-color: #1e90ff;
	}
	a{
	  color: #fff;
	}
  
   /*bt*/
   .label {
	background-color: #000;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 18px;
	width: 36px;
	transform: scale(1.5);
	margin-left: 1070px;
	bottom: 40PX;
  }
  /*/bt*/
  .search-box{
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
    background: #000;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    bottom: 30px;

}
.search-box:hover > .search-txt{
    width: 150px;
    padding: 0 6px;
    top: 50px;
}

.search-btn{
    color: #006394;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 18px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
 
}

input[type=email],
input[type=text]{
	width: 400px;
	height:45px;
	font-size: 1.5em;
	border: solid 2px #000;	
	padding: 10px;	
}
form{
text-align: center;
}

a{
	text-decoration: none;
  }
input[type=submit],
input[type=reset]{
	padding:5px 20px;
	height: 30px;
	border-radius: 40px;
	background-color:#006394;
	color: #fff;
	margin:40px;
	transition:100ms;
	width:100px;
	font-size:15px;
}
input[type=submit]:hover,
input[type=reset]:hover{
	height:36px;
	margin:37px;
	transition:100ms;
	border-radius:20px;
	
	
}
select{
	height:45px;
	font-size: 1.5em;
	border: solid 2px #000;	
	width:260px;
	color:#888888;
}
label{
	
	font-size: 25px;
	margin-right: 40px;
}
.text{
	font-size: 22px;
	text-align: justify;
	width: 700px;
	margin-top: 70px;
	margin-left: 400px;
}

#texto{
	margin-top: 10px;
}

/*footer*/
footer{
	width: 100%;
	height: 230px;
	background-color: #006494;
	color:#fff;
	text-align: center;
	position: relative;
}
.foo{
	padding-top: 43px;
	
}
.menu_footer{
	color: #fff;
  padding-top: 50px;
  display: inline-block;
  text-decoration: none;
  display: inline;
  margin-left: 25px;
  font-size: 17px;
}


.redes1{
  width: 40px;
  height: 40px;
}
.menu_footer:hover{
	color: #1e90ff;
  }
  /*fechamento de footer*/
